.weather-tab {
  &_utils {
    &_pane {
      display: flex;
      justify-content: flex-start;

      span {
        padding: 1em;
        opacity: 0.9em;
      }
    }
    &_icon_reload {
      svg {
        width: 2em;
        height: 2em;
      }
    }
  }
}
