.weather_card_error {
  &_wrapper {
    height: 15em;
    color: @error-color;
    font-size: 1em;
    text-align: center;
    padding-top: 3em;
    opacity: 0.7;
    font-weight: bold;
    
    &_title {
      font-size: 1.5em;
    }
  }
}
