.forecast {
  &_container {
    border: none;
  
    .ant-card-grid {
      background-color: @body-background;
      box-shadow: none;
  
      @media @mobile {
        width: 50%;
      }

      @media @tablet {
        width: 33%;
      }

      @media @desktop, @desktop-xl {
        width: 25%;
      }
    }
  }
}

