@import '../../styles/variables.less';

.main__weather_card_container {
  display: grid;
  grid-gap: 0.5em;
  justify-items: center;
  margin-top: 2em;
  
  @media @tablet, @desktop {
    grid-template-columns: repeat(2, 1fr);
  }

  @media @desktop-xl {
    grid-template-columns: repeat(3, 1fr);
  }
} 

.ant-tabs-tab-with-remove {
  svg {
    fill: @error-color;
  }
}
