@import '../../styles//variables.less';

.forecast_chart_tooltip {
  font-size: 0.8em;
  padding: 0 0.8em;
  text-align: end;

  &_fact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2em;
    align-items: center;
    justify-items: end;
  }

  svg {
    fill: @text-color;
    width: 2em;
  }

  .weather_card_temp {
    color: @text-color;
    font-size: 1.5em;
  }
}

.forecast__area_chart {
  margin-left: -1.5em;
}
