.weather_card_content {
  position: relative;
  padding: 2em 0.5em 1em 0.5em;
  height: 15em;
  
  &_info {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;

    &_icon {
      width: 3em;
    }
    
    &_value {
      font-size: 1.5em;
    }
  }

  &_condition {
    text-align: center;
  }
}
