.weather_card_footer_item {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // border-top: 0.1em solid @text-color;
  // padding-top: 1em;

  font-size: 0.8em;
  display: grid;
  justify-items: center;
  margin-top: auto;

  &_fact {
    display: grid;
    justify-items: center;

    &_icon {
      width: 3em;
    }
      
    &_value {
      font-size: 1.5em;
    }
  }
}
