@import '../../styles/variables.less';

.icon_loader {
  &__container {
    margin: 0 auto;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media @desktop, @desktop-xl {
      top: 20%;
    }
  }

  &_message {
    color: @warning-color;
    font-size: 1.5em;
  }
}
