@import '../../styles/variables.less';

.main_weather_card {
  width: 100%;
  position: relative;
  margin: 0.5em;
  color: @text-color;

  svg {
    fill: @text-color;
  }

  .weather-service_logo {
    position: absolute;
    top: 5%;
    right: 5%;
  }
  
}

@keyframes card-loading {
  0% {
    filter: blur(1em);
    transform: scale(1);
  }
  
  25% {
    filter: blur(0.7em);
    transform: scale(1.025);
  }

  50% {
    filter: blur(0.5em);
    transform: scale(1.03);
  }

  75% {
    filter: blur(0.7em);
    transform: scale(1.025);
  }

  100% {
    filter: blur(1em);
    transform: scale(1);
  }
}
