@import '../../styles/variables.less';

.btn_save_config {
  position: relative;

  &_badge sup {
    position: absolute;
    top: 0;
    right: 0;
    background-color: @error-color;
    animation: blink 1s ease-in-out infinite;
  } 
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  } 
}
