@import '../../styles/variables.less';

.checkbox_group_wrapper {
  margin: 0.5em;
  padding: 0.5em;
  background: @text-color;

  .ant-checkbox {
    &-group {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      &-item {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 0.5em;
        justify-content: center;
        padding: 2em;
        align-items: center;

        input {
          border: 1px solid @info-color;
        }
      }
    }
  }
}
