@import '../../styles/variables.less';

.weather-service-modal_btn_toggle {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 10;
  opacity: 0.7;
  
  svg {
    width: 4em;
    height: 4em;
  }

  @media @desktop, @desktop-xl {
    position: initial;
    opacity: 1;
    
    svg {
      width: 2em;
      height: 2em;
    }
  }
}
