@import '../../styles//variables.less';

.header {
  &_container {
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0.8em;
    background-color: @body-background;
    padding: 0.5em;
  }

  &_navbar {
    display: flex;
    align-items: center;
  }

  &_title_home_link {
    font-weight: bold;
    cursor: pointer;
  }
}

.spacer {
  flex: 1 1 auto;
}

