@import '../../../styles//variables.less';

.login {

  &_form {
    max-width: 30em;
    margin: 2em auto;
    padding: 3em 1em;
    background: @component-background;
    color: @text-color;

    &_toggle {
      margin-top: 2em;
      text-align: center;
    }

    &_error {
      padding-top: 1em;
      color: @error-color;
      font-size: 0.7em;
      text-align: center;
    }

    &_item {
      font-size: 1.5em;
      display: block;

      label {
        color: @text-color;
      }
      
      &_input {
        display: block;
      }
    }
  }
}
