@import '../../styles/variables.less';

.detail__forecast {

  &_page {
    margin: 4em auto;
    width: 100%;
    @media @desktop, @desktop-xl {
      max-width: 1500px;
    }
  }

  &_current, &_hourly{
    margin-bottom: 3em;
  }
}
