@import '../../styles/variables.less';

.city_search {

  &_wrapper {
    margin: 1em;
  }

  &_form {
    display: grid;
    grid-template-columns: 2fr auto;

    @media @tablet, @desktop, @desktop-xl {
      grid-template-columns: 3fr auto;
    }
  }  
}
