@import '~antd/dist/antd.less';
@import './styles/variables.less';

// reset 

div, ul, li, h1, h3, a, p {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

li {
  list-style: none;
}

// main
body {
  font-size: 16px;
  max-width: 2000px;
  margin: 3em auto;
  padding: 4em 2em;

  @media @tablet {
    font-size: 20px;
  }

  @media @desktop {
    font-size: 22px;
  }

  @media @desktop-xl {
    font-size: 25px;
  }
  // &:after {
  //   content: "undefined";
  //   right: 0;
  //   padding: .5em 1em;
  //   position: absolute;
  //   text-align: center;
  //   top: 50%;
  //   z-index: 1199;
  // @media @mobile {
  //   background: orange;
  //   content: "mobile";
  // }
  // @media @tablet {
  //   background: purple;
  //   content: "tablet";
  // }
  // @media @desktop {
  //   background: green;
  //   content: "desktop";
  // }
  // @media @desktop-xl {
  //   background: blue;
  //   content: "desktop-xl";
  //   }
  // }
}

.main__subtitle {
  color: @info-color;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  margin: 2em 0;
}


.main__title {
  color: @text-color;
  font-weight: 700;
  font-size: 2em;
  text-transform: capitalize;
  text-align: center;
  margin: 1em 0;
  opacity: 0.7;
}







