@import '../../styles/variables.less';

.notFound__error {
    &_container {
      color: @text-color;
      margin: 0em auto;
      text-align: center;
      opacity: 0.7;
    }

    &_code {
      font-weight: bold;
      color: @error-color;
      font-size: 3em;
    }

    &_icon {

      svg {
        fill: @text-color;
        width: 5em;
      }
    }
    
    &_message {
      color: @error-color;
    }
}
