@import '../../../styles//variables.less';

.forecast {

  &_current {
     .main__weather_card {
      margin-bottom: 3em;
      border: none;
    }
  }
  
  &_card {
    text-align: center;
    border: none;
  
    &_fact {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-items: center;
  
      .weather_card_icon {
        svg {
          width: 80%;
          fill: @text-color;
        }
      }
  
    }

    .weather_card_temp {
      font-size: 1em;
      color: @text-color;

      @media @tablet, @desktop, @desktop-xl {
        font-size: 2em;
      }
    }
  }
}

